<div id="help">
  <h3>Instructions</h3>
  <ul>
    <li>Click 'New recording' in order to start a new Script
      <ul>
        <li>The first node you click will be the container node and any interaction with it or it's children ill be recorded</li>
        <li>In order to stop recording when you are finished, click on the plugin icon again</li>
      </ul>
    </li>
    <li>Load Recording
      <ul>
        <li>Click on the Load Recording button in the main menu in order to open a script from your filesystem</li>
        <li>After you have selected a script, you will be prompted to either play the script or edit it</li>
      </ul>
    </li>
    <li>Edit Recording
      <li>On this screen you will see a table listing out every action the script takes</li>
      <li>This information is provided in an editable format allowing you to customize the script</li>
      <li>Click on the 'Configuration Options' in the upper right corner in order to set configurations altering how the script will execute</li>
    </li>
  </ul>
</div>
